name: Build Extractor GUI
on:
  push:
    branches: [ "main" ]
jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'
    - name: Build GUI App
      run: dotnet publish ExtractorGui.csproj -c Release -r win-x64 --self-contained false /p:PublishSingleFile=true /p:DebugType=None /p:DebugSymbols=false -o ./GUI_Output
    - name: Upload GUI Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ExtractorGui-Win64
        path: ./GUI_Output/
